name: Run Integration testTests

on:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Get the project
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: uv sync --group dev

      - name: Pytest
        run: uv run pytest -m integration
        env:
          PROTON_TEST_USERNAME: ${{ secrets.TEST_PROTON_ACCOUNT_USER }}
          PROTON_TEST_PASSWORD: ${{ secrets.TEST_PROTON_ACCOUNT_PWD }}
